.animation-spin {
        animation: spin 4s linear infinite;
    }

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

input[type=number] {
        -moz-appearance: textfield;
    }
