<div id="kt_app_footer" class="app-footer">
    <div
        class="app-container container-fluid d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3">

        <div
            class="text-gray-500 fs-7 fw-semibold order-2 order-md-1 text-center text-md-start w-100 w-md-auto mt-2 mt-md-0">
            Bu proje açık kaynak olarak geliştirilmektedir.
        </div>

        <div class="d-flex align-items-center gap-3 order-1 order-md-2">

            <a href="https://buymeacoffee.com/karabeyogluonur" target="_blank"
                class="transition opacity-75 opacity-hover-100">
                <img src="~/assets/media/external-badges/buymeacoffee.png" alt="Support" style="height: 26px;">
            </a>

            <div class="h-20px w-1px bg-gray-300 mx-1"></div>

            <a href="https://github.com/karabeyogluonur" target="_blank"
                class="btn btn-icon btn-sm btn-active-light-primary text-gray-400 text-hover-gray-700 w-30px h-30px">
                <i class="bi bi-github fs-4"></i>
            </a>

            <a href="https://www.linkedin.com/in/onurkarabeyoglu" target="_blank"
                class="btn btn-icon btn-sm btn-active-light-primary text-gray-400 text-hover-gray-700 w-30px h-30px">
                <i class="bi bi-linkedin fs-4"></i>
            </a>

        </div>

    </div>
</div>
