<!DOCTYPE html>
<html lang="tr">

<head>
    <title>Trendyol Komisyon Hesaplama</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="shortcut icon" href="~/themes/metronic/assets/media/logos/favicon-light.ico" />
    <link rel="icon" href="~/themes/metronic/assets/media/logos/favicon-light.ico"
        media="(prefers-color-scheme: light)" />
    <link rel="icon" href="~/themes/metronic/assets/media/logos/favicon-black.ico"
        media="(prefers-color-scheme: dark)" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700" />

    <link href="~/themes/metronic/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/themes/metronic/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/style.css" rel="stylesheet" type="text/css" />

    @await RenderSectionAsync("Styles", required: false)
</head>

<!body id="kt_app_body" @Html.Raw(ViewData["BodyAttributes"]) class="@ViewData["BodyClass"]">

    <script>var defaultThemeMode = "light"; var themeMode; if (document.documentElement) { if (document.documentElement.hasAttribute("data-bs-theme-mode")) { themeMode = document.documentElement.getAttribute("data-bs-theme-mode"); } else { if (localStorage.getItem("data-bs-theme") !== null) { themeMode = localStorage.getItem("data-bs-theme"); } else { themeMode = defaultThemeMode; } } if (themeMode === "system") { themeMode = window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light"; } document.documentElement.setAttribute("data-bs-theme", themeMode); }</script>

    @RenderBody()

    @await Html.PartialAsync("_DevelopmentDrawer")

    <div id="kt_scrolltop" class="scrolltop" data-kt-scrolltop="true">
        <i class="ki-duotone ki-arrow-up">
            <span class="path1"></span>
            <span class="path2"></span>
        </i>
    </div>

    <script>var hostUrl = "/themes/metronic/assets/";</script>
    <script src="~/themes/metronic/assets/plugins/global/plugins.bundle.js"></script>
    <script src="~/themes/metronic/assets/js/scripts.bundle.js"></script>

    @await Html.PartialAsync("_Notification")
    @await RenderSectionAsync("Scripts", required: false)
</!body>

</html>
